<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CLORec</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </head>
   <body class="db_box">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #D2FFA2;">
         <a class="navbar-brand" style="color: #5F0B57;" href="/">CLORec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/data_overview">Data Overview</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/sentiment_analysis">Sentiment Analysis</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Recommendation Models
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color: #5F0B57;" href="/models_overview">Overview</a>
                        <a class="dropdown-item" style="color: #5F0B57;" href="/models_analysis">Sneak Peek</a>
                        <a class="dropdown-item" style="color: #5F0B57;" href="/models_plot">Plot</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/team">Team</a>
                  </li>
               </ul>
            </div>      
      </nav>
      <div class="w3-row w3-padding" style="margin-top:20px; margin-bottom:40px" onClick="window.location.reload();return true;">
         <div class="container">
            <a href="/models/34418" class="btn btn-success">TFIDF</a>
            <a href="/models/8132" class="btn btn-success">SVD</a>
            <a href="/models/9127" class="btn btn-success">IMF</a>
            <a href="/models/7588" class="btn btn-success">ALL</a>
         </div>
      </div>
      <div class="div_fade">
         <div class="w3-row-padding season-table">
            {% for photo in photos %}
               <h3><a style="text-decoration:none;">Purchased Products</a></h3>
               <div width='100%' class="white";>
                  {% for i in range(0,5) %}
                     <img src="{{ photo['prior_imurl'][i] }}" style="height: 100px">
                  {% endfor%}
               </div>
               
               <h3><a style="text-decoration:none;">Test Product</a></h3>
               <div width='100%' class="white";>
                  {% for i in range(0,1) %}
                     <img src="{{ photo['act_imurl'][i] }}" style="height: 100px">
                  {% endfor%}
               </div>
               <h3><a style="text-decoration:none;">Recommended Products - IMF</a></h3>
               <div width='100%' class="white";>
                  {% for i in range(0,10) %}
                     <img src="{{ photo['rec_imf_imurl'][i] }}" style="height: 100px">
                  {% endfor%}
               </div>
   
                           <h3><a style="text-decoration:none;">Recommended Products - SVD</a></h3>
                  <div width='100%' class="white";>
                  {% for i in range(0,10) %}
                     <img src="{{ photo['rec_svd_imurl'][i] }}" style="height: 100px">
                  {% endfor%}
                  </div>
                           <h3><a style="text-decoration:none;">Recommended Products - TFIDF</a></h3>
                  <div width='100%' class="white";>
                  {% for i in range(0,10) %}
                     <img src="{{ photo['rec_tfidf_imurl'][i] }}" style="height: 100px">
                  {% endfor%}
                  </div>
                           <h3><a style="text-decoration:none;">Popular Products</a></h3>
                  <div width='100%' class="white";>
                  {% for i in range(0,10) %}
                  
                     <img src="{{ photo['popular_imurl'][i] }}" style="height: 100px">
                  
                  {% endfor%}
                  </div>
               {% endfor%}
         </div>
      </div>

      <footer class="page-footer font-small unique-color-dark pt-4 fixed-bottom">
         <div id="footertopper"></div>
         <div class="footer-copyright text-center py-3">© Copyright PowerPuffGirls INC 2019</div>  
      </footer>
   </body>
</html>