<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CLORec</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </head>
   <body class="db_box">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #D2FFA2;">
         <a class="navbar-brand" style="color: #5F0B57;" href="/">CLORec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/data_overview">Data Overview</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/sentiment_analysis">Sentiment Analysis</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Recommendation Models
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color: #5F0B57;" href="/models_overview">Overview</a>
                        <a class="dropdown-item" style="color: #5F0B57;" href="/models_analysis">Sneak Peek</a>
                        <a class="dropdown-item" style="color: #5F0B57;" href="/models_plot">Plot</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/team">Team</a>
                  </li>
               </ul>
            </div>      
      </nav>

      <div class="container" style="padding:20px 16px">
         <h3 align="center" class="w3-center">Recommendation System Overview</h3>
      </div>   
      <div class="container" style="padding:20px 80px">

      <p><strong>Test dataset:</strong> 45184 users with 166270 products<br /><strong>Baseline:</strong> 10 most popular products to every user.</p>
<ol>
<li><strong>Collect Data:</strong> For our base data, we use a subset of dataset on &lsquo;Amazon Clothing, Shoes and Jewelry&rsquo; and the data contains product reviews and metadata.</li>
<li><strong>Data Transformations and Partitions:</strong> We split the dataset, into previous and current purchases for every user. The prior purchase data is used to build a utility matrix where rows are products, columns are users and each entry is the number of times product i appears in user u&rsquo;s purchase history. We use current purchases of 20% of the users in the dataset as the test set.</li>
<li><strong>Perform data mining analysis:</strong> To carry out our investigation, we use and compare the performance of three different collaborative filtering techniques:
<ol>
<li>TFIDF - a neighborhood-based method that recommends products to a target-user based on the purchases of similar users</li>
<li>SVD - a latent factor method that uses Singular Value Decomposition(SVD)</li>
<li>IMF - a matrix factorization method that was designed specifically for implicit feedback datasets</li>
</ol>
</li>
<li><strong>Evaluate methods:</strong> Each of the above three methods are evaluated on an independent test dataset consisting of the current purchases of around 45,184 users, and compared to a baseline model that recommends the 10 most popular products to each user.</li>
</ol>
<p>We can now determine if the products suggested by our recommender systems result in more purchases on Amazon as compared to the baseline model.</p>
     </div>
      <footer class="page-footer font-small unique-color-dark pt-4 fixed-bottom">
         <div id="footertopper"></div>
         <div class="footer-copyright text-center py-3">© Copyright PowerPuffGirls INC 2019</div>  
      </footer>
   </body>
</html>